/* RESET 
-----------------------------------------------------------------*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
}
input, select, iframe, button {
    border: none;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease-in-out;
}
a:hover {
    color: #f9014d
}
img {
    max-width: 100%;
    border: none;
}